*

!eww/
!swaylock
!wallpapers
!wallpapers/*
!wofi
!waybar
!waybar/modules
!hypr/scripts/screenshot
!hypr/*
!hypr
!alacritty
!alacritty/**
!wlogout
!code-flags.conf
!nvim
!nvim/**
!fish
!fish/**
!mako
!mako/**
!btop
!btop/btop.conf
!btop/themes
!btop/themes/**
