* {
    font-family: "Hack", monospace;
    font-size: 12pt;
}

window {
    background-color: rgba(20, 20, 20, 1); 
}

#input {
    all: unset;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#outer-box {
    padding: 10px;
    border-radius: 5px;
    border: rgba(51, 51, 51, 1) 1px solid;
}

#scroll {
    margin: 5px;
}

#text {
    padding: 4px;
}
/* #entry {
    color: white;
} */

#entry:selected {
    all: unset;
    background-color: rgba(10, 10, 10, 0.5);
}

#text:selected {
    background: transparent;
    color: rgba(131, 171, 198, 1);
}