* {
    font-family: "Hack", monospace;
    font-size: 12pt;
    font-weight: 900;
}

window {
    background-color: transparent;
}

#input {
    all: unset;
    margin: 5px;
    font-size: 14pt;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(50, 50, 50, 0.5); 
    color: white;
}

#inner-box {
    background-color: transparent;
    border-radius: 5px;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 5px;
    border: rgba(153, 153, 153, .85) 3px solid;
}

#scroll {
    margin: 5px;
    border-radius: 5px;
    /* background-color: rgba(50, 50, 50, 0.5); */
}

#text {
    padding: 4px;
    color: white;
}

#entry {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* #entry:nth-child(even){
    background-color: (50, 50, 50, 0.5);
} */

#entry:selected {
    all: unset;
    padding: 10px;
    margin: 10px;
    background-color: rgba(150, 150, 150, 0.5);
    border-radius: 5px;
    background-color: (50, 50, 50, 0.5);
}

#text:selected {
    background: transparent;
}
