* {
    font-family: "Fira Sans", monospace;
    font-size: 12pt;
}

window {
    background-color: rgba(20, 20, 20, .9); 
    border: none;
}

#input {
    all: unset;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: rgba(245, 194, 231, 1);
}

#outer-box {
    padding: 10px;
    border-radius: 5px;
    border: rgba(137, 180, 250, .9) 1px solid;
}

#input > image.left {
  color: rgba(245, 194, 231, 1);
}

#input > image.right {
  color: rgba(245, 194, 231, 1);
}

#scroll {
    margin: 5px;
}

/* #text { */
/*     padding: 4px; */
/* } */

#entry {
    color: white;
}

#entry:selected {
    outline: none;
    background-color: rgba(10, 10, 10, 0);
}

#text:selected {
    background: transparent;
    color: rgba(137, 180, 250, 1);
}
